<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="conditions">
  	<Table>
      <Row>
        <Cell><Data ss:Type="String">Condition</Data></Cell>
        <Cell><Data ss:Type="String">Date Added</Data></Cell>
      </Row>
      <% @conditions.each do |c| %>
      	<Row>
          <Cell><Data ss:Type="String"><%= c.condition %></Data></Cell>
          <Cell><Data ss:Type="String"><%= c.try(:created_at).strftime('%m/%d/%Y') %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>