<div class="sign-in-container">
  <div class="sign-in-content">
    <i class="fa fa-user"></i>
    <h2>Sign in</h2>

    <%= simple_form_for @user, url: sessions_path do |f| %>
      <div class="form-inputs">
        <%= f.input :internet_id, required: false, autofocus: true, label: 'Internet ID' %>
        <%= f.input :password, required: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Login", class: 'btn btn-school-inverse btn-sign-in' %>
      </div>
    <% end %>
  </div>
</div>
