.categories {
  max-width: 1000px;
  margin: 40px auto;
  padding-left: 80px;
  // padding: 40px 25px 40px 60px;

  .col-md-2 {
    display:inline-block;
    position: relative;
    text-align: center;
    height: 100px;
    margin: 0 15px 47px 0;
    // background: rgba(0,0,0,0.1);
    background: $school_main_color;
    padding: 0;

    a {
      color: white;
      font-size: 15px;
      font-weight: 500;
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 18px;
      // text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

      p {
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        line-height: 17px;
      }
    }

    .label {
      display: block;
      font-family: Arial;
      font-weight: 300;
      background: $school_secondary_color;
      color: #404d5b;
      position: absolute;
      right: -10px;
      top: -10px;
      z-index: 10;
      height: 30px;
      width: 30px;
      line-height: 30px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      text-align: center;
    }
  }
}

#refine-search {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}