.home {
  margin-top: 20px;

  .search-form {
    
    .age-ranges {
      margin: 15px 0;
    }

    .checkbox {
      margin: 3px 0 0 20px;
    }

    .search-controls {
      margin: 15px 0;
    }

    .btn-search {
      padding: 13px;
      margin-right: 10px;
    }

    .btn-not-sure {
      font-size: 13px;
    }
  }
}