.home {
  margin-top: 20px;

  .search-form {

    .age-ranges {
      margin: 0px 0;
    }

    .search-label {
      margin-top: 0.5rem;

    }

    .age-label {
      font-weight: bold;
      font-size: 16px;

    }

    .checkbox-right {
      margin: 3px 0 0 20px;
    }

    .checkbox-left {
      margin: 3px 20px 6px 0;
    }

    .genderfilter {
      margin-bottom: 10px;
    }

    .search-controls {
      margin: 15px 0;
    }

    .btn-search {
      padding: 13px;
      margin-right: 10px;
    }

    .btn-not-sure {
      font-size: 13px;
    }
  }
}

#homepage-banner {
  font-size: 29px;
}