.embed-container {
  padding: 20px;

  .age-ranges {
    margin-left: 20px;
  }
  .search-controls {
    margin-top: 15px;
  }
  .btn-search {
    height: 54px;
    margin-bottom: 15px;
  }
  .btn-not-sure {
    margin-bottom: 15px;
  }
}