.welcome {
  margin: 50px 20px;

  .stories {
    margin-top: 30px;
  }
  .story {
    margin: 0 7px 15px 7px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    
    img {
      width: 240px;
    }
    p {
      padding: 10px 15px;
      text-align: center;
      font-weight: 600;
    }
  }

  h3 {
    margin-top: 30px;
  }
}