$school_main_color: #06559a;
$school_secondary_color: #58585a;
$school_dark_color: #404d5b;

.brand {
  background: url('utsw.png');
  background-size: 100% 100%;
  width: 225px;
  height: 68px;
}

.navbar {
  .nav {
    a {
      color: white !important;
    }
  }

  .system-logo {
    background: url(sf-logo-unc.jpg);
    background-size: 100% 100%;
    width: 260px;
    height: 48px;
  }
}

.btn-school {
  background: $school_main_color;
  color: white;

  &:hover {
    color: $body_text;
    background: $school_secondary_color;
  }
}

.btn-school-inverse {
  color: white;
  background: $school_secondary_color;
}

@media ( max-width: $screen-sm-min ) {
  .brand {
    width: 240px;
    height: 33px;
  }
}