body {
  color: $body_text;
}

g#studyfinder-logo-study {
  fill: $school_main_color;
}
g#studyfinder-logo-finder {
  fill: $school_secondary_color;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: $school_main_color;
  font-weight: 400;
}

h2 {
  font-size: 29px;
}

footer {
  padding: 0 20px 40px 20px;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;

  a {
    text-decoration: underline;
    font-weight: bold;
    color: #212529;
  }
  a:hover {
    background-color: $school_secondary_color;
    color: $school_main_color;
  }
}

.btn, .alert, .breadcrumb, .pagination, .input-lg {
  border-radius: 0;
}

.modal {
  .modal-content {
    border-radius: 0;
    border: none;
  }
  .modal-header {
    background: $school_main_color;
    h4 {
      color: white;
    }
  }
}

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
  background: white;
  width: 100%;
  padding: 10px;
  color: $body_text;
  border: 1px solid #eee;
}

.tt-suggestion {
  margin: 0;
  padding: 5px 0 5px 10px;
  font-size: 16px;
  line-height: 24px;

  p {
    margin: 0;
  }

  &:hover {
    background-color: $school_main_color;
    color: white;
    cursor: pointer;
  }
}

.pagination {
  li {
    a, a:hover {
      color: $school_main_color;
    }
  }

  .page-item.active {
    .page-link {
      background-color: $school_main_color;
      border-color: $school_main_color;
    }
  }
}

.alert {
  display: table;
  width: 100%;

  padding: 20px;
  .fa {
    font-size: 28px;
    width: 30px;
    vertical-align: middle;
    display: table-cell;
  }
  span {
    display: inline-block;
    padding: 3px 10px;
    vertical-align: top;
  }
  ul {
    display: inline-block;
    width: 100%;
  }
}

.popover {
  h3.popover-title {
    margin: 0 !important;
    background: $school_main_color;
    color: white !important;
  }
  .popover-content {
    color: $body_text !important;
  }
}

.main-content {
  padding: 0;
}

.content {
  padding: 0 40px; 
}

.mast {
  background-image: image-url("mast.jpg");
  background-position: 50% 25%;
  height: 440px;
}

.banner-content {
  background: $school_secondary_color;
}

.banner-text {
  padding-left: 30px;
}

.banner-image {
  background: $school_secondary_color;
  width: 780px;
}

.featured-image img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bordered {
  border: 10px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.big-icon {
  font-size: 32px;
}

.line-clamp-3 {
  position: relative;
  height: 3.6em;
  overflow: hidden;
}

.line-clamp-3:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.col-right-border {
  border-right: 1px solid #ccc;
}

.hyperlink-header {
  text-decoration: underline;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.caption-wrapper {
  background: rgba(255, 255, 255, .40);
}

.caption-title {
  font-weight: bold;
  color: $school_main_color;
}

.caption-text{
  color: #000000;
}

.share-container {
  margin-top: 1em;
}

/* TODO: We should do this with sass code that adds it for all $theme-colors and bg-variants, alert-variants, etc.
  That's difficult right now because of how the bootstrap stuff has crept along here over time. Import order etc.
  Let's clean up and do that when we upgrade to boostrap 5. */
  
.bg-light-success {
  background-color: rgba(#28a745, .5)
}

.bg-light-warning {
  background-color: rgba(#ffc107, .5)
}

