
.lt-ie9 {
  .container {
    width: 970px;
  }

  .nav {
    margin-right: 15px;
    li {
      float: left;
    }
  }

  .input-search {
    width: 380px;
    color: #333;
    font-size: 18px;
    padding: 10px;
  }

  .buttons {
    display: block;
    text-align: left;
  }

  .healthy-volunteers {
    label {
      display: inline;
      margin-bottom: 5px;
    }
  }

  label {
    width: 100%;
  }

  .categories {
    .col-md-2 {
      width: 200px;
    }
  }

}