#header-content {
  margin-top: 25px;
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $school_secondary_color;
  }
}

#main-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $school_secondary_color;
  border: 0 !important;
  box-shadow: none;
  color: #fff;
  .nav-link{
    font-size: 12px;
    padding: 10px 15px;
    color: $body_text;
    font-weight: 600;
  }
  
  .nav-link:hover{
    color: white;
    background: $school_main_color;
  }
  .nav-link.active{
    color: white;
    background: $school_main_color;
  }
  
  .dropdown-menu {
    a {
      color: $body_text;
    }
  }
}

.alt-header {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 26px;
  background: $school_main_color;
  color: white;
}

.logo {
  margin-top: 25px;
  width: 250px;
}