.welcome
  %h2 Meet Edward, Lee, Jerry and Marlene.

  %p Participating in research is one of the most powerful things you can do to be part of tomorrow's health care breakthroughs. The U of M is always looking for people who are willing to participate in studies, so that our researchers can better understand how to diagnose, treat, and prevent diseases and conditions.

  %p Click below to watch individual stories about how clinical research is helping transform the lives of millions.

  .stories.clearfix
    .story.pull-left
      %img{ src: 'assets/stories/edward.jpg'}
    .story.pull-left
      %img{ src: 'assets/stories/lee.jpg'}
    .story.pull-left
      %img{ src: 'assets/stories/jerry.jpg'}
    .story.pull-left
      %img{ src: 'assets/stories/marlene.jpg'}
    .story.pull-left
      %img{ src: 'assets/stories/drpeterson.jpg'}
    .story.pull-left
      %img{ src: 'assets/stories/healthyornot.jpg'}