<div id="email-me-modal" name="email-me-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><i class="fa-solid fa-envelope"></i> Email this study information to me</h4>
      </div>
      <div class="modal-body">
        <form id="email-me-form" onsubmit="return false;">
          <label>Study Title</label>
          <p class="study-title"></p>
          <div class="form-group">
            <label for="email-me-email">Your email address <small class="text-muted">(required)</small></label>
            <input id="email-me-email" class="form-control email" type="text"></input>
          </div>
          <div class="form-group">
            <label for="email-me-notes">Additional Notes</label>
            <textarea id="email-me-notes" class="form-control notes"></textarea>
          </div>
          <% if @system_info.captcha %>
            <div class="form-group">
              <div id="myself-captcha" name="myself-captcha"></div>
            </div>
          <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss='modal' onclick="track('send', 'event', 'email_me_close', 'close')">Close</button>
        <button class="btn btn-school" id="email-me-modal-submit" name="email-me-modal-submit" data-trial-id="" onclick="track('send', 'event', 'email_me_submit', 'submit');">Send</button>
      </div>
    </div>
  </div>
</div>

<div id="contact-study-team-modal" name="ontact-study-team-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><i class="fa-solid fa-envelope"></i> Contact the study team</h4>
      </div>
      <div class="modal-body">
        <form id="contact-study-team-form" onsubmit="return false;">
          <p>
            Use this form to contact the study team at <a class="study-email"></a> to see if you are a good fit for the study.
          </p>
          <div class="form-group">
            <label for="contact-email">Your email address <small class="text-muted">(required)</small></label>
            <input id="contact-email" class="form-control email" type="text"></input>
          </div>
          <div class="form-group">
            <label for="contact-name">Your name <small class="text-muted">(required)</small></label>
            <input id="contact-name" class="form-control name" type="text"></input>
          </div>
          <div class="form-group">
            <label for="contact-phone">Your phone number</label>
            <input id="contact-phone" class="form-control phone" type="text"></input>
          </div>
          <div class="form-group">
            <label for="contact-notes">Anything else you'd like to share with the study team?</label>
            <textarea id="contact-notes" class="form-control notes"></textarea>
          </div>
          <% if @system_info.captcha %>
            <div class="form-group">
              <div id="study-team-captcha" name="study-team-captcha"></div>
            </div>
          <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss='modal' onclick="track('send', 'event', 'email_study_team_close', 'close');">Close</button>
        <button class="btn btn-school" id="contact-study-team-modal-submit" name="contact-study-team-modal-submit" data-trial-id="" onclick="track('send', 'event', 'email_study_team_submit', 'submit');">Send</button>
      </div>
    </div>
  </div>
</div>

<% if @system_info.captcha %>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
<% end %>
