<div id="email-me-modal" name="email-me-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><i class="fa fa-envelope"></i> Email this study information to me</h4>
      </div>
      <div class="modal-body">
        <form id="email-me-form" onsubmit="return false;">
          <label>Study Title</label>
          <p class="study-title"></p>
          <div class="form-group">
            <label>Email address (*)</label>
            <input class="form-control email" type="text"></input>
          </div>
          <div class="form-group">
            <label>Additional Notes</label>
            <textarea class="form-control notes"></textarea>
          </div>
          <% if @system_info.captcha %>
            <div class="form-group">
              <div id="myself-captcha" name="myself-captcha"></div>
            </div>
          <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss='modal' onclick="track('send', 'event', 'email_me_close', 'close')">Close</button>
        <button class="btn btn-school" id="email-me-modal-submit" name="email-me-modal-submit" data-trial-id="" onclick="track('send', 'event', 'email_me_submit', 'submit')">Send</button>
      </div>
    </div>
  </div>
</div>

<div id="contact-study-team-modal" name="ontact-study-team-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><i class="fa fa-envelope"></i> Contact the study team</h4>
      </div>
      <div class="modal-body">
        <form id="contact-study-team-form" onsubmit="return false;">
          <p>
            Use this form to contact the study team at <a class="study-email"></a>.
          </p>
          <div class="form-group">
            <label>Email address (*)</label>
            <input class="form-control email" type="text"></input>
          </div>
          <div class="form-group">
            <label>Name (*)</label>
            <input class="form-control name" type="text"></input>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input class="form-control phone" type="text"></input>
          </div>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control notes"></textarea>
          </div>
          <% if @system_info.captcha %>
            <div class="form-group">
              <div id="study-team-captcha" name="study-team-captcha"></div>
            </div>
          <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss='modal' onclick="track('send', 'event', 'email_study_team_close', 'close')">Close</button>
        <button class="btn btn-school" id="contact-study-team-modal-submit" name="contact-study-team-modal-submit" data-trial-id="" onclick="track('send', 'event', 'email_study_team_submit', 'submit')">Send</button>
      </div>
    </div>
  </div>
</div>

<% if @system_info.captcha %>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"></script>
<% end %>
