<div class="content">
  <h2>What researchers need to know about StudyFinder</h2>
  <p>
    <%= @system_info.system_name %> displays data about actively enrolling University of Minnesota studies in a way that’s intuitive and user-friendly. This information is extracted from <a href="http://clinicaltrials.gov">ClinicalTrials.gov</a> and augmented with data from the OnCore clinical trials management system, when available.
  </p>
  <p>To help potential participants better navigate and connect with University research opportunities, we encourage you to periodically review your studies and update the description and contact information, as appropriate.</p>

  <p>Please also be aware that people may email you via StudyFinder to inquire about a study. We urge you to work directly with these potential participants, and to contact the StudyFinder team with any questions.</p>

  <h3>How to update your study</h3>
  <p>You can update select study information on this website or directly in the source data (<a href="http://clinicaltrials.gov">ClinicalTrials.gov</a> and/or OnCore).</p>


  <p>To update your study on StudyFinder: </p>
  <ul>
    <li>Click on the maroon  “Look up/Edit Study Information” button toward the bottom of this page.</li>
    <li>Log in using your x500.</li>
    <li>Look up your study information by entering the System ID, which is either Study NCT ID from <a href="http://clinicaltrials.gov">ClinicalTrials.gov</a>, or Protocol ID from OnCore.</li>
    <li>Ensure the primary contact is a suitable person for potential participants to reach out to via email.</li>
    <li>Save your changes by entering the secret key, and clicking the "Update Trial" button at the bottom of the page.</li>
  </ul>

  <p>If you have questions or comments, or need assistance updating your study information, please contact us at <a href="mailto:sfinder@umn.edu">sfinder@umn.edu</a>.</p>
  
  <%= link_to 'Lookup/Edit Study Information', search_trials_researchers_path, class: 'btn btn-school' %>
</div>