<div class="content">
  <%= @system_info.researcher_description.html_safe unless @system_info.researcher_description.nil? %>
  <%#= link_to 'Lookup/Edit Study Information', search_trials_researchers_path, class: 'btn btn-school' %>
</div>