%h3 Lookup Trial Information
= form_tag search_trial_results_researchers_path do
  .form-group
    %label.control-label Study ID
    %small (NCT ID from ClinicalTrials.gov)
    = text_field_tag :id, '', class: 'form-control'
  = submit_tag 'Lookup', class: 'btn btn-school'