.admin
  .clearfix
    %h3.pull-left Reports

  %p.description
    Available reports.

  %ul
    %li
      %a(href=admin_trial_recent_as_path) Recent Trials
    %li
      %a(href=admin_reports_recent_conditions_path) Recent Conditions
