<div class="admin">
  <div class="clearfix">
    <h3 class="float-left">Reports</h3>
  </div>
  <p class="description">Available reports.</p>
  <ul>
    <li><a href="<%= admin_trial_recent_as_path %>">Recent Trials</a></li>
    <li><a href="<%= admin_reports_recent_conditions_path %>">Recent Conditions</a></li>
  </ul>
</div>
