<div class="admin">
  <div class="clearfix">
    <h1 class="float-left">Reports</h1>
  </div>
  <p class="description">Available reports.</p>
  <ul>
    <li><a class='nav-link-contrast' href="<%= admin_trial_recent_as_path %>">Recent Trials</a></li>
    <li><a class='nav-link-contrast'  href="<%= admin_reports_recent_conditions_path %>">Recent Conditions</a></li>
  </ul>
</div>
