<h2 class="mt-3">Research participants have rights</h2>
<p>Every study is different. Some studies are looking for people with certain conditions, while others are open to healthy volunteers. Some studies involve visits to a clinic, while others can be done online.</p>
<p>One thing that is common to all research is that the decision to participate is personal and always voluntary.  Whether agreeing to share your medical data or consenting to an experimental treatment, we want you to know that research participants have rights and protections. </p>
<p>Click the link below to read the research participants' Bill of Rights and to learn more about how the University of MInnesota reviews, approves and monitors research studies.</p>
<%= link_to 'More about volunteering in research', "https://research.umn.edu/units/hrpp/research-participants/volunteering-research", class: 'btn btn-school btn-lg' %>