<h2 class="mt-3">Join a national registry!</h2>
<div class="row5">
  <div class="col-md-12">
    <%= link_to "https://researchmatch.org?rm=<%= @system_info.research_match_campaign" do %>
      <%= image_tag "rsm-large.jpg", class: 'img-fluid', style: 'width: 50%;', alt: 'Research Match Logo' %>
    <% end %>
  </div>
  <div >
    <p>ResearchMatch.org connects volunteers with research studies across the country. Volunteers of any age, race, ethnicity, or health status are invited to join. Log on, register, and receive emails when studies might be a good fit for you.</p>
  </div>
</div>