<!DOCTYPE html>
<html>
	<head>
		<title>StudyFinder PDF</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= wicked_pdf_stylesheet_link_tag "pdf.css" %>
		<%= wicked_pdf_javascript_include_tag "application" %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>